:root{
	--bg: #FFFBF4;
	--page-width: 1200px;
	--appelboom-red: #D8102F;
	--appelboom-red-10pct: #FFBFC9; /*#ffbbc5*/
	--appelboom-red-1pct: #ffecec;
	--appelboom-blue: #BAE4F0;
	--appelboom-body: #484848;
	--column-count: 12;
	--column-width: calc(min(100svw, var(--page-width)) / var(--column-count));
	--column-gap: 4em;
	--gutter: 2rem;
}