.title-subtitle{
	color: var(--appelboom-red);
	line-height: 1;
}

h1#header-page-title{
	margin: 0;
	font-weight: 600;
	font-size: 3.333rem;
}
.subtitle,
.inner-subtitle{
	font-style: italic;
	font-weight: 300;
	font-size: 2rem;
	margin: 0.3em 0 0 0;
}
.inner-subtitle{
	display: block;
}
@media all and (max-width: 960px){
	.title-subtitle{
		margin-top: 3em;
	}
	h1#header-page-title{
		font-size: 2em;
	}
}


/**
 * local tasks
 **/
#block-appelboom-primary-local-tasks > ul{
	list-style: none;
	margin: 0 0 2em;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	gap: 1em;
	border-bottom: 1px solid var(--appelboom-red);
}
#block-appelboom-primary-local-tasks > ul li{
	flex: auto 0 0;
	margin: 0 0 -1px 0;
	background: var(--bg);
	padding: 0.3em 1em;
	border-top: 1px solid var(--appelboom-red);
	border-right: 1px solid var(--appelboom-red);
	border-left: 1px solid var(--appelboom-red);
	border-radius: 0.5em 0.5em 0 0;
}


/**
 * laatste projecten
 * */
#block-appelboom-views-block-case-studies-latest{
	background: var(--appelboom-blue);
	width: 100%;
	margin: 6em 0;
}
#block-appelboom-views-block-case-studies-latest > *:not(.contextual){
	max-width: var(--page-width);
	margin-left: auto;
	margin-right: auto;

}
#block-appelboom-views-block-case-studies-latest div.rows{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}
#block-appelboom-views-block-case-studies-latest div.rows .views-row{
	flex: calc(50% - 1rem) 1 1;
}
#block-appelboom-views-block-case-studies-latest div.rows > footer{
	flex: 100% 0 0;
}
#block-appelboom-views-block-case-studies-latest > h2{
	font-size: 1.778rem;
	font-style: italic;
	font-weight: 300;    
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-top: 0;
	padding-top: 2rem;
	margin-bottom: 2rem;
}
#block-appelboom-views-block-case-studies-latest > h2:before,
#block-appelboom-views-block-case-studies-latest .rows > footer p a:before{
	content: " ";
	display: inline-block;
	width: 4rem;
	height: 2rem;
	background: transparent url(../../images/pijl.svg) center no-repeat;
	background-size: contain;
}
#block-appelboom-views-block-case-studies-latest .rows > footer p{
	margin: 2em 0 1em;
}
#block-appelboom-views-block-case-studies-latest .rows > footer p a{
	display: flex;
	align-items: center;
	gap: 0.5em;
	justify-content: right;
}
@media all and (max-width: 960px){
	#block-appelboom-views-block-case-studies-latest{
		padding: var(--gutter);
	}
}

#block-appelboom-views-block-case-studies-related,
#block-appelboom-views-block-case-studies-block-2,
#block-appelboom-views-block-case-studies-block-3{
	margin: 5em 0;
}
#block-appelboom-views-block-case-studies-related > h2,
#block-appelboom-views-block-case-studies-block-2 > h2,
#block-appelboom-views-block-case-studies-block-3 > h2{
	max-width: var(--page-width);
	margin-left: auto;
	margin-right: auto;
	font-size: 1.778rem;
	color: var(--appelboom-red);
}

#block-appelboom-views-block-case-studies-related .view-rows,
#block-appelboom-views-block-case-studies-block-2 .view-rows,
#block-appelboom-views-block-case-studies-block-3 .view-rows{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	overflow: auto;
	gap: 2em;
	padding-left: calc((100% - var(--page-width)) / 2);
	scroll-snap-type: x mandatory;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */
}
#block-appelboom-views-block-case-studies-related .view-rows::-webkit-scrollbar ,
#block-appelboom-views-block-case-studies-block-2 .view-rows::-webkit-scrollbar ,
#block-appelboom-views-block-case-studies-block-3 .view-rows::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}
#block-appelboom-views-block-case-studies-related .view-rows .views-row,
#block-appelboom-views-block-case-studies-block-2 .view-rows .views-row,
#block-appelboom-views-block-case-studies-block-3 .view-rows .views-row{
	flex: 18em 0 0;
	scroll-snap-align: start;
}
@media all and (max-width: 960px){
	#block-appelboom-views-block-case-studies-related > h2,
	#block-appelboom-views-block-case-studies-block-2 > h2,
	#block-appelboom-views-block-case-studies-block-3 > h2{
		margin: 1em var(--gutter);
	}
	#block-appelboom-views-block-case-studies-related .view-rows,
	#block-appelboom-views-block-case-studies-block-2 .view-rows,
	#block-appelboom-views-block-case-studies-block-3 .view-rows{
		padding-left: var(--gutter);
	}
	#block-appelboom-views-block-case-studies-related .view-rows .views-row, 
	#block-appelboom-views-block-case-studies-block-2 .view-rows .views-row, 
	#block-appelboom-views-block-case-studies-block-3 .view-rows .views-row{
		flex: 75vw 0 0;
		scroll-snap-align: center;
	}
	#block-appelboom-views-block-case-studies-related .view-rows .node--type-case-study.node--view-mode-card,
	#block-appelboom-views-block-case-studies-block-2 .view-rows .node--type-case-study.node--view-mode-card,
	#block-appelboom-views-block-case-studies-block-3 .view-rows .node--type-case-study.node--view-mode-card{
		width: 100%;
		height: 100%;
	}

	

}


.titlesubtitleandintroforappelboom{
	max-width: var(--page-width);
	margin: 6.667em auto 5em;
	line-height: 3em;
}
.titlesubtitleandintroforappelboom > .field--name-field-featured-image,
.titlesubtitleandintroforappelboom > .field--type-entity-reference{
	float: right;
	width: 30em;
	margin: -5em 0 2em 2em;
}
.titlesubtitleandintroforappelboom > .field--type-entity-reference{
	width: 20em;
	margin-top: 0;
}
.titlesubtitleandintroforappelboom h1{
	font-size: 3.333em;
	color: var(--appelboom-red);
	margin: 0;
}
.titlesubtitleandintroforappelboom .subtitle{
	font-size: 2em;
	font-weight: 300;
	font-style: italic;
	color: var(--appelboom-red);
	margin: 0.2em 0 0;
}
.titlesubtitleandintroforappelboom .field--name-field-description{
	font-size: 2em;
	font-weight: 300;
	font-style: italic;
	margin: 0.9em 0;
}
@media all and (max-width: 960px){
	.titlesubtitleandintroforappelboom{
		padding: 0 var(--gutter);
		margin: 0 0 3em;
	}
	.titlesubtitleandintroforappelboom > .field--name-field-featured-image,
	.titlesubtitleandintroforappelboom > .field--type-entity-reference{
		float: none;
		width: auto;
		margin: 0 calc(-1 * var(--gutter)) 3em;
	}
	.titlesubtitleandintroforappelboom > .field--name-field-icon{
		float: none;
		display: block;
		width: 5em;
		margin: var(--gutter) auto;
	}
	.titlesubtitleandintroforappelboom > .field--name-field-description{
		font-size: 1.5em;
		line-height: 1.7em;
	}
}




#block-appelboom-views-block-diensten-block-1,
#block-appelboom-views-block-diensten-taxo-block-1,
#block-appelboom-views-block-person-profiles-all{
	max-width: var(--page-width);
	margin: 5em auto;
}
#block-appelboom-views-block-diensten-block-1 .item-list ul,
#block-appelboom-views-block-diensten-taxo-block-1 .item-list ul,
#block-appelboom-views-block-person-profiles-all .item-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
@media all and (max-width: 960px){
	#block-appelboom-views-block-diensten-block-1,
	#block-appelboom-views-block-diensten-taxo-block-1,
	#block-appelboom-views-block-person-profiles-all{
		padding: 0 var(--gutter);
	}
}



#block-appelboom-headerblockforpersonsforappelboom{
	max-width: var(--page-width);
	margin: 0 auto 5em;
	display: flex;
	flex-wrap: wrap;
}
#block-appelboom-headerblockforpersonsforappelboom .field--name-field-portrait{
	border-radius: 50%;
	border: 6px solid var(--appelboom-red);
	width: 12em;
	height: 12em;
	overflow: hidden;
	margin: -6em 0 0 2em;
}
#block-appelboom-headerblockforpersonsforappelboom .field--name-field-featured-image{
	flex: 100% 0 0;
}
#block-appelboom-headerblockforpersonsforappelboom .title-subtitle{
	margin: 1.5em 0 0 0;
}
#block-appelboom-headerblockforpersonsforappelboom .left{
	flex: auto 1 1;
}
#block-appelboom-headerblockforpersonsforappelboom .right{
	flex: auto	0 0;
	display: flex;
	align-items: center;
}
#block-appelboom-headerblockforpersonsforappelboom .right ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#block-appelboom-headerblockforpersonsforappelboom .right ul li{
	margin: 0.5em 0;
}
#block-appelboom-headerblockforpersonsforappelboom .right ul li a{
	display: flex;
	align-items: center;
}
#block-appelboom-headerblockforpersonsforappelboom .right ul li a:before{
	display: inline-block;
	content: " ";
	width: 1.5em;
	height: 1.5em;
	text-indent: -999em;
	background: transparent url(../../images/mail.svg) center no-repeat;
	background-size: contain;
	margin: 0 0.5em 0 0;
}
#block-appelboom-headerblockforpersonsforappelboom .right ul li a.linkedIn-link:before{
	background-image: url(../../images/linkedin.svg);
}
#block-appelboom-headerblockforpersonsforappelboom .right ul li a.phone-link:before{
	background-image: url(../../images/phone.svg);
}
#block-appelboom-headerblockforpersonsforappelboom .field--name-field-description{
	flex: 100% 0 0;
	font-size: 2em;
    font-weight: 300;
    font-style: italic;
    margin: 0.9em 0;
    line-height: 1.5;
}
@media all and (max-width: 960px){
	#block-appelboom-headerblockforpersonsforappelboom{
		margin-bottom: 2em;
	}
	#block-appelboom-headerblockforpersonsforappelboom .left,
	#block-appelboom-headerblockforpersonsforappelboom .right,
	#block-appelboom-headerblockforpersonsforappelboom .field--name-field-description{
		padding-left: var(--gutter);
		padding-right: var(--gutter);

	}
	#block-appelboom-headerblockforpersonsforappelboom .field--name-field-description{
		font-size: 1.5em;
		line-height: 1.7em;
	}
}




#block-appelboom-views-block-case-studies-all{
	max-width: var(--page-width);
	margin: 0 auto 5em;
}
#block-appelboom-views-block-case-studies-all .view-rows{
	display: flex;
	flex-wrap: wrap;
	gap: var(--column-gap);
}
#block-appelboom-views-block-case-studies-all .view-rows > header{
	flex: 100% 0 0;
}
#block-appelboom-views-block-case-studies-all .view-rows .views-row{
	flex: calc(33.3% - (2/3 * var(--column-gap))) 0 0;
}
#block-appelboom-views-block-case-studies-all .view-rows .views-row p.field--name-field-description{
	max-height: 7.5em;
	overflow: hidden;
	font-size: 1.1667em;
}
@media all and (max-width: 960px){
	#block-appelboom-views-block-case-studies-all{
		padding: 0 var(--gutter);
	}
	#block-appelboom-views-block-case-studies-all .view-rows{
		display: block;
	}
	#block-appelboom-views-block-case-studies-all .view-rows .views-row{
		margin-bottom: 5em;
	}

}


#block-appelboom-headerblockforhomepageforappelboom,
#block-appelboom-featuredimageforappelboom{
	width: 100%;
}
#block-appelboom-headerblockforhomepageforappelboom .homepage-header-image,
#block-appelboom-featuredimageforappelboom .main{
	height: 70vh;
	width: 100%;
	position: relative;
}
#block-appelboom-headerblockforhomepageforappelboom .field--name-field-featured-image,
#block-appelboom-featuredimageforappelboom .main  .field--name-field-featured-image{
	width: 100%;
	height: 100%;
}
#block-appelboom-headerblockforhomepageforappelboom .field--name-field-featured-image img,
#block-appelboom-featuredimageforappelboom .main  .field--name-field-featured-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
#block-appelboom-headerblockforhomepageforappelboom .title-subtitle,
#block-appelboom-featuredimageforappelboom .main  .title-subtitle{
	position: absolute;
	bottom: 2em;
	/*left: calc(50% - (var(--page-width) / 2));*/
	left: max(calc(50% - (var(--page-width) / 2)), var(--gutter));
	color: #fff;
}
.block .header-services{
	width: min(var(--page-width), 100%);
	margin: 1em auto 0;
	color: var(--appelboom-red);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.block .header-services > h2{
	flex: 100% 0 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 300;
	margin: 0.5em 0 2em;
	line-height: 1.5;
}
#block-appelboom-headerblockforhomepageforappelboom .homepage-link{
	display: flex;
	align-items: center;
	gap: 0.5em;
}
#block-appelboom-headerblockforhomepageforappelboom .homepage-link i{
	flex: 4rem 0 0;
	display: inline-block;
	width: 4rem;
	height: 2rem;
	background: transparent url(../../images/pijl-wit.svg) center no-repeat;
	background-size: contain;
}
#block-appelboom-headerblockforhomepageforappelboom .homepage-link a{
	color: #fff;
	background: var(--appelboom-red);
	border-radius: 2em;
	font-size: 1.333em;
	padding: 0.5em 1em;
}
.block .header-services .taxonomy_term{
	flex: 12em 0 1;
	font-size: 1.5em;
	font-weight: 500;
}
#block-appelboom-headerblockforhomepageforappelboom .field--name-field-description{
	font-size: 2em;
	font-weight: 300;
	font-style: italic;
	max-width: var(--page-width);
	margin: 2em auto 0.9em;
	line-height: 1.5;
}
@media all and (max-width: 960px){
	#block-appelboom-headerblockforhomepageforappelboom{
		padding: 0 var(--gutter);
	}
	#block-appelboom-headerblockforhomepageforappelboom .homepage-header-image{
		margin: 0 calc(-1 * var(--gutter));
		width: auto;
		height: 50svh;
	}
	.block .header-services{
		display: block;
		margin-top: 2em;
	}
	.block .header-services .taxonomy_term{
		margin: 1em 0;
	}
}



#block-appelboom-featuredimageforappelboom .sidebar{
	display: flex;
	justify-content: space-between;
	width: min(var(--page-width), 100%);
	margin: 0 auto;
	padding: 2em 0;
}
@media screen and (max-width: 1232px){
	#block-appelboom-featuredimageforappelboom .sidebar{
		padding: 0 var(--gutter);
	}
}
#block-appelboom-featuredimageforappelboom .sidebar > .field{
}
#block-appelboom-featuredimageforappelboom .sidebar .field--name-field-tags .field__item{
	margin-bottom: .5em;
}

#block-appelboom-featuredimageforappelboom .sidebar h2.field__label:after{
}
#block-appelboom-featuredimageforappelboom .sidebar .field ul.field__items{
	list-style: none;
	margin: 0;
	padding: 0;
}
#block-appelboom-featuredimageforappelboom .sidebar .field ul.field__items > li{
	margin: 1em 0;
	padding: 0;
}
@media all and (max-width: 960px){
	#block-appelboom-featuredimageforappelboom{
		display: block;
		height: auto;
		min-height: unset;
		margin: 0 0 3em;
	}
	#block-appelboom-featuredimageforappelboom .sidebar{
		flex-direction: column;
	}
}

