.ui-dialog:not(.ui-dialog-off-canvas),
.ui-dialog .ui-widget-content.ui-dialog-content,
.ui-dialog .ui-widget-content.ui-dialog-buttonpane{
	background: var(--bg);
}
.ui-dialog .ui-dialog-titlebar{
	background: var(--appelboom-red);
}
.ui-dialog .ui-widget-content.ui-dialog-buttonpane{
	border-color: var(--appelboom-red-10pct);
}

[dir="ltr"] .ui-dialog #edit-submit.form-submit, 
[dir="ltr"] .ui-dialog .button--primary, 
[dir="ltr"] .ui-dialog .button--primary:not(:focus), 
[dir="ltr"] .ui-dialog .ief-entity-submit,

.ui-dialog .button, 
.ui-dialog .button:not(:focus), 
.ui-dialog .form-actions .button, 
.ui-dialog .project__action_button, 
.ui-dialog .action-link--icon-trash.action-link,
.ui-dialog .button:active, 
.ui-dialog .button:focus, 
.ui-dialog .button:not(:focus):active, 
.ui-dialog .button:not(:focus):focus, 
.ui-dialog .form-actions .button:active, 
.ui-dialog .form-actions .button:focus, 
.ui-dialog .project__action_button:active, 
.ui-dialog .project__action_button:focus, 
.ui-dialog .action-link--icon-trash.action-link:active, 
.ui-dialog .action-link--icon-trash.action-link:focus{
	background: var(--appelboom-red);
	border-color: var(--appelboom-red) !important;
	border-radius: 1.5em;
	color: #fff;
	font-style: normal;
    font-size: inherit;
    padding: 0.5em 1em;
    height: auto;
    cursor: pointer;

    &:hover{
		background: var(--appelboom-red);
		border-color: var(--appelboom-red) !important;
		border-radius: 1.5em;
		color: #fff;
    }
}


.ui-dialog .button, 
.ui-dialog .button:not(:focus), 
.ui-dialog .form-actions .button, 
.ui-dialog .project__action_button, 
.ui-dialog .action-link--icon-trash.action-link{

}

.ui-dialog {
    .ui-dialog-titlebar {
        .ui-dialog-titlebar-close {
            border-color: #fff;
            &:focus {
                border-color: #fff;
                outline: none;
                box-shadow: none;
            }
            .ui-icon.ui-icon-closethick {
                width: 100%;
                height: 100%;
                margin: 0;
                transform: translate(0,0);
                background: url(data:image/svg+xml,%3csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 1.318l-10 10M11 11.318l-10-10' stroke='%23D3D4D9' stroke-width='1.5'/%3e%3c/svg%3e) no-repeat 50%;
            }
        }
    }
}}
}