:root {
  --gin-color-title: #484848;
  --gin-color-text: #484848;
  --gin-color-text-light: #484848;
  --gin-color-focus: rgba(0, 125, 250, .6);
  --gin-color-focus-border: rgba(0, 0, 0, .2);
  --gin-color-focus-neutral-rgb: rgba(0, 0, 0, .4);
  --gin-color-disabled: #767676;
  --gin-color-disabled-bg: #eaeaea;
  --gin-color-disabled-border: #c2c2c2;
  --gin-color-warning: #d8b234;
  --gin-color-warning-light: #efcf64;
  --gin-bg-warning: #483e1e;
  --gin-bg-warning-light: rgba(226, 151, 0, .08);
  --gin-color-danger: #cc3d3d;
  --gin-color-danger-lightest: #fdd9d9;
  --gin-color-danger-light: #f39b9d;
  --gin-bg-danger: #583333;
  --gin-bg-danger-light: rgba(222, 117, 96, .1);
  --gin-color-green: #058260;
  --gin-color-green-light: #32cea4;
  --gin-color-green-lightest: #adebdb;
  --gin-bg-green: #145242;
  --gin-bg-green-light: rgba(72, 171, 123, .1);
  --gin-color-info: #082538;
  --gin-color-info-light: #589ac5;
  --gin-bg-info: #122b3c;
  --gin-status-text: #626262;
  --gin-status-bg: #eee;
  --gin-status-success-text: #1d6844;
  --gin-status-success-bg: #26a76930;
  --gin-status-warning-text: #826b1f;
  --gin-status-warning-bg: rgba(226, 151, 0, .15);
  --gin-status-danger-text: #cc3d3d;
  --gin-status-danger-bg: rgba(222, 117, 96, .15);
  --gin-color-contextual: var(--gin-color-text);
  --gin-color-contextual-text: #eee;
  --gin-bg-input: #fff;
  --gin-bg-layer: #fff;
  --gin-bg-layer2: #edeff5;
  --gin-bg-layer3: #fff;
  --gin-bg-layer4: #e2e5ec;
  --gin-bg-secondary: var(--gin-bg-layer);
  --gin-bg-header: #eeeff3;
  --gin-bg-unpublished: var(--gin-bg-danger-light);
  --gin-pattern: var(--gin-border-color);
  --gin-pattern-fallback: var(--gin-bg-layer2);
  --gin-pattern-square: .5rem;
  --gin-font: "jali-latin-variable", sans-serif;
  --gin-font-size-xxs: .75rem;
  --gin-font-size-xs: small;
  --gin-font-size-s: .875rem;
  --gin-font-size: 1rem;
  --gin-font-size-m: var(--gin-font-size);
  --gin-font-size-l: 1.125rem;
  --gin-font-size-xl: 1.25rem;
  --gin-font-size-h3: 1.5rem;
  --gin-font-size-h2: 1.75rem;
  --gin-font-size-h1: 1.6rem;
  --gin-font-size-quote: 1.1em;
  --gin-font-weight-normal: 400;
  --gin-font-weight-semibold: 525;
  --gin-font-weight-bold: 575;
  --gin-font-weight-heavy: 625;
  --gin-spacing-xxxs: .125rem;
  --gin-spacing-xxs: .25rem;
  --gin-spacing-xs: .5rem;
  --gin-spacing-s: .75rem;
  --gin-spacing-m: 1rem;
  --gin-spacing-l: 1.5rem;
  --gin-spacing-xl: 2rem;
  --gin-spacing-xxl: 3rem;
  --gin-spacing-xxxl: 4rem;
  --gin-icon-color: #414247;
  --gin-icon-size-close: 20px;
  --gin-icon-size-toolbar-secondary: 17px;
  --gin-icon-size-toolbar: 17px;
  --gin-icon-size-sidebar-toggle: 21px;
  --gin-border-xxs: .125rem;
  --gin-border-xs: .25rem;
  --gin-border-s: .375rem;
  --gin-border-m: .5rem;
  --gin-border-l: .75rem;
  --gin-border-xl: 1rem;
  --gin-border-color: #d4d4d8;
  --gin-border-color-secondary: rgba(0, 0, 0, .08);
  --gin-border-color-layer: rgba(0, 0, 0, .08);
  --gin-border-color-layer2: #d4d4d8;
  --gin-border-color-table: rgba(0, 0, 0, .1);
  --gin-border-color-table-header: rgba(0, 0, 0, .3);
  --gin-border-color-form-element: #8e929c;
  --size-summary-border-radius: calc(var(--gin-border-m) - 1px);
  --gin-easing: cubic-bezier(.19, 1, .22, 1);
  --gin-transition: .15s var(--gin-easing);
  --gin-transition-fast: .3s var(--gin-easing);
  --gin-shadow-l1: 0 1px 2px rgb(20 45 82 / 2%), 0 3px 4px rgb(20 45 82 / 3%), 0 5px 8px rgb(20 45 82 / 4%);
  --gin-shadow-l2: 0 1px 2px rgb(20 45 82 / 2%), 0 3px 4px rgb(20 45 82 / 3%), 0 5px 8px rgb(20 45 82 / 4%), 0 20px 24px rgb(20 45 82 / 12%);
  --gin-height-sticky: 60px;
  --gin-toolbar-width-collapsed: 66px;
  --gin-toolbar-width: 256px;
  --gin-toolbar-height: 0px;
  --gin-toolbar-secondary-height: 0px;
  --gin-toolbar-bg-level2: #edeff5;
  --gin-toolbar-bg-level3: rgba(44, 45, 47, .05);
  --gin-toolbar-y-offset: 0px;
  --gin-toolbar-x-offset: 0px;
  --gin-scroll-offset: 0px;
  --gin-sticky-offset: 0px;
  --gin-sidebar-small-width: 320px;
  --gin-sidebar-min-width: 240px;
  --gin-sidebar-width: 320px;
  --gin-sidebar-max-width: 560px;
  --gin-sidebar-offset: var(--gin-sidebar-width);
  --gin-switch: #26a769;
  --gin-shadow-button: #00000033;
  --gin-color-button-text: #fff;
  --gin-offset-x: var(--gin-toolbar-x-offset);
  --gin-offset-y: calc(var(--gin-toolbar-y-offset) + var(--gin-sticky-offset));
  --gin-link-decoration-style: dotted;
  --gin-max-line-length: 80ch;
  --input-line-height: var(--gin-spacing-l);
  --input-padding-horizontal: var(--gin-spacing-s);
  --input-padding-vertical: var(--gin-spacing-xs);
  --gin-tooltip-bg: #232429;
  --jui-dialog-z-index: 1260;
}

.ui-dialog:not(.ui-dialog-off-canvas),
.ui-dialog .ui-widget-content.ui-dialog-content,
.ui-dialog .ui-widget-content.ui-dialog-buttonpane{
	background: var(--bg);
}
.ui-dialog .ui-dialog-titlebar{
	background: var(--appelboom-red);
}
.ui-dialog .ui-widget-content.ui-dialog-buttonpane{
	border-color: var(--appelboom-red-10pct);
}

[dir="ltr"] .ui-dialog #edit-submit.form-submit, 
[dir="ltr"] .ui-dialog .button--primary, 
[dir="ltr"] .ui-dialog .button--primary:not(:focus), 
[dir="ltr"] .ui-dialog .ief-entity-submit,

.ui-dialog .button, 
.ui-dialog .button:not(:focus), 
.ui-dialog .form-actions .button, 
.ui-dialog .project__action_button, 
.ui-dialog .action-link--icon-trash.action-link,
.ui-dialog .button:active, 
.ui-dialog .button:focus, 
.ui-dialog .button:not(:focus):active, 
.ui-dialog .button:not(:focus):focus, 
.ui-dialog .form-actions .button:active, 
.ui-dialog .form-actions .button:focus, 
.ui-dialog .project__action_button:active, 
.ui-dialog .project__action_button:focus, 
.ui-dialog .action-link--icon-trash.action-link:active, 
.ui-dialog .action-link--icon-trash.action-link:focus{
	background: var(--appelboom-red);
	border-color: var(--appelboom-red) !important;
	border-radius: 1.5em;
	color: #fff;
	font-style: normal;
    font-size: inherit;
    padding: 0.5em 1em;
    height: auto;
    cursor: pointer;

    &:hover{
		background: var(--appelboom-red);
		border-color: var(--appelboom-red) !important;
		border-radius: 1.5em;
		color: #fff;
    }
}


.ui-dialog .button, 
.ui-dialog .button:not(:focus), 
.ui-dialog .form-actions .button, 
.ui-dialog .project__action_button, 
.ui-dialog .action-link--icon-trash.action-link{

}

.ui-dialog {
    .ui-dialog-titlebar {
        .ui-dialog-titlebar-close {
            border-color: #fff;
            &:focus {
                border-color: #fff;
                outline: none;
                box-shadow: none;
            }
            .ui-icon.ui-icon-closethick {
                width: 100%;
                height: 100%;
                margin: 0;
                transform: translate(0,0);
                background: url(data:image/svg+xml,%3csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 1.318l-10 10M11 11.318l-10-10' stroke='%23D3D4D9' stroke-width='1.5'/%3e%3c/svg%3e) no-repeat 50%;
            }
        }
    }
}}
}