footer[role="contentinfo"]{
	border-top: 1px solid var(--appelboom-red-10pct);
	border-bottom: 1px solid var(--appelboom-red-10pct);
	padding: 2em 0 1em;
	margin: 0;
	position: relative;
	color: var(--appelboom-red);
}
footer[role="contentinfo"] .region-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 4em;
}
.region-footer #block-appelboom-sitebranding2{
	flex: auto 1 1;
	order: 0;
}
.region-footer #block-appelboom-sitebranding2 > a{
	width: min(100%, 20em);
    display: block;
    margin-top: calc( min(100%, 20em) * (-22 / 360));
}
.region-footer .postadres,
.region-footer .contactadres{
	flex: max-content 0 0;
}
.region-footer h2{
	font-size: 1.333em;
	font-weight: 500;
	margin: 0;
}
.region-footer p{
	margin: 0;
}

aside#quote{
	max-width: var(--page-width);
	margin: 0 auto;
	padding: 1.5em 0;
	text-align: right;
	position: sticky;
	bottom: 0;
	z-index: -1;
	color: var(--appelboom-red);
	font-style: italic;
	font-weight: 300;
	font-size: 1.333em;    
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5em;
}
aside#quote:before{
	content: " ";
	display: inline-block;
	width: 4rem;
	height: 2rem;
	background: transparent url(../../images/pijl.svg) center no-repeat;
	background-size: contain;
}

@media all and (max-width: 960px){
	footer[role="contentinfo"] .region-footer{
		padding: 1rem var(--gutter);
		gap: 1em;
	}
	.region-footer #block-appelboom-sitebranding2{
		flex: 100% 0 0;
		padding-bottom: 1rem;
	}
	aside#quote{
		font-size: 1.25em;
		padding-left: var(--gutter);
		padding-right: var(--gutter);
		display: block;
		text-align: left;
	}
	aside#quote:before{
		vertical-align: middle;
		margin-right: 0.5em;
		width: 3rem;
	}
}