.node.node--view-mode-full,
.taxonomy_term.taxonomy_term--view-mode-full{
	display: grid;
	grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
	column-gap: var(--column-gap);
}
.node.node--view-mode-full .field-content,
.taxonomy_term.taxonomy_term--view-mode-full .field--name-description{
	grid-column: 1 / 7;
	font-size: 1.1667em;
	line-height: 1.5;
}

.node.node--view-mode-full .field-content > .align-right,
.taxonomy_term.taxonomy_term--view-mode-full .field--name-description > .align-right{
	clear: both;
	max-width: calc(6 * var(--column-width) - (var(--column-gap) / 2));
	margin-inline-end: calc(-100% - var(--column-gap));
	position: sticky;
	top: 5em;
}
@media all and (max-width: 960px){
	.node.node--view-mode-full,
	.taxonomy_term.taxonomy_term--view-mode-full{
		display: block;
	}
	.node.node--view-mode-full .field-content > .align-right,
	.taxonomy_term.taxonomy_term--view-mode-full .field--name-description > .align-right{
		position: static;
		float: none;
		max-width: unset;
		width: auto;
		margin: 2em calc(-0.5* var(--gutter));
	}
}
.node.node--view-mode-full .field-content{
}
.node.node--view-mode-full .field-content h3:first-of-type,
.node.node--view-mode-full .field-content h2:first-of-type,
.node.node--view-mode-full .field-content p:first-of-type,
.taxonomy_term.taxonomy_term--view-mode-full .field--name-description h3:first-of-type,
.taxonomy_term.taxonomy_term--view-mode-full .field--name-description h2:first-of-type
.taxonomy_term.taxonomy_term--view-mode-full .field--name-description p:first-of-type{
	margin-top: 0;
}
.node.node--view-mode-full .field-content > p:first-child::first-letter,
.taxonomy_term.taxonomy_term--view-mode-full .field--name-description > p:first-child::first-letter{
	initial-letter: 3;
	color: var(--appelboom-red);
	font-weight: 900;
	padding-right: 0.3em;
}

.node.node--view-mode-icon-link,
.taxonomy_term.taxonomy_term--view-mode-icon-link{
	display: block;
	margin: 0;
	padding: 0;
}

.node.node--view-mode-icon-link > a[rel="bookmark"],
.taxonomy_term.taxonomy_term--view-mode-icon-link > a[rel="bookmark"]{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 1em;
}
.node.node--view-mode-icon-link.node--type-person > a[rel="bookmark"]:hover,
.node.node--view-mode-icon-link.node--type-person > a[rel="bookmark"]:hover .field--name-field-person__role-job-title{
	background: var(--appelboom-red-1pct);
}
.node.node--view-mode-icon-link > a[rel="bookmark"] .field--name-field-icon,
.taxonomy_term.taxonomy_term--view-mode-icon-link > a[rel="bookmark"] .field--name-field-icon{
	flex: 2em 0 0;
}
.node.node--view-mode-icon-link > a[rel="bookmark"] .field--name-field-portrait{
	flex: 5em 0 0;
}
.node.node--view-mode-icon-link > a[rel="bookmark"] .field--name-field-portrait img{
	display: block;
	border: 6px solid #ccc ;
	border-radius: 50%;
}
.node.node--view-mode-icon-link > a[rel="bookmark"] > *:last-child,
.taxonomy_term.taxonomy_term--view-mode-icon-link > a[rel="bookmark"]  > *:last-child{
	flex: auto 1 1;
}
.node.node--view-mode-icon-link.node--type-person > a[rel="bookmark"]{
	border-radius: 2.5em 0 0 2.5em;
	text-decoration: none;
}
.node.node--view-mode-icon-link.node--type-person h3{
	font-size: 1.333em;
	font-weight: 500;
	margin: 0;
}
.node.node--view-mode-icon-link.node--type-person .field--name-field-person__role-job-title{
	display: block;
	font-style: italic;
	color: var(--appelboom-body);
	font-size: 0.889em;
	font-weight: 300;
	text-decoration: none;
}


.node.node--view-mode-teaser h2,
.taxonomy_term--view-mode-teaser h2{
	font-size: 1.7778em;
	margin: 1.5rem 0 1rem;
	font-weight: 300;
	line-height: 1.125;
}
.node.node--view-mode-teaser p.field--name-field-description,
.taxonomy_term--view-mode-teaser p.field--name-field-description{
	max-height: 7.5em;
	overflow: hidden;
	font-size: 1.1667em;
	line-height: 1.5;
}
.node.node--view-mode-teaser .field--name-field-featured-image{
}
.node.node--view-mode-teaser .field--name-field-featured-image a,
.node.node--view-mode-teaser .field--name-field-featured-image img{
	height: 100%;
	display: block;
	object-fit: cover;
}
.node--type-person.node--view-mode-card{
	display: flex;
	align-items: stretch;
	gap: 0;
	background: var(--appelboom-blue);
}
.node--type-person.node--view-mode-card .field--name-field-featured-image{
	flex: 50% 0 0;
	height: auto;
	position: relative;
}
.node--type-person.node--view-mode-card .field--name-field-featured-image a{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.node--type-person.node--view-mode-card .field--name-field-featured-image a img{
	height: 100%;
    object-fit: cover;
    object-position: center;
}
.node--type-person.node--view-mode-card .teaser-text{
	flex: 50% 0 0;
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
	padding: 3rem 2rem;
}
.node--type-person.node--view-mode-card h2{
	flex: auto 1 1;
	margin: 0;
	font-size: 1.333rem;
	font-weight: 500;
	box-sizing: border-box;
    width: min(calc(var(--page-width) / 2), 100%);
}
.node--type-person.node--view-mode-card h2 .field--name-field-person__role-job-title{
	font-size: 1rem;
	font-weight: 300;
	display: block;
}
.node--type-person.node--view-mode-card .field--name-field-description{
	flex: auto 1 1;
	margin: 0;
	box-sizing: border-box;
    width: min(calc(var(--page-width) / 2), 100%);
    font-style: italic;
    font-size: 1.1667em;
    line-height: 1.5;
}
@media all and (max-width: 960px){
	.node--view-mode-card{
		flex-direction: column;
		gap: 1em;
	}
	.node--type-person.node--view-mode-card .field--name-field-featured-image a{
		position: relative;
	}
	.node--type-person.node--view-mode-card .teaser-text{
		padding: var(--gutter);
	}
	.node--type-person.node--view-mode-card h2{
		margin: 0;
	}
	.node--type-person.node--view-mode-card .field--name-field-description{
		margin: 0;
	}
}

.node--type-case-study.node--view-mode-card{
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	width: 18em;
	height: 32em;
}
.node--type-case-study.node--view-mode-card h2{
	position: absolute;
	margin: 0;
	padding: 0 1rem 0;
	bottom: 2rem;
}
.node--type-case-study.node--view-mode-card .field--name-field-featured-image{
}



.node.node--type-service.node--view-mode-teaser,
.taxonomy_term--view-mode-teaser,
.node.node--type-person.node--view-mode-teaser{
	display: flex;
	gap: 4em;
	align-items: center;
	margin: 5em 0;
}
.node.node--type-service.node--view-mode-teaser h2,
.taxonomy_term--view-mode-teaser h2,
.node.node--type-person.node--view-mode-teaser h2{
	margin: 0;
}
.node.node--type-person.node--view-mode-teaser h2 .field--name-field-person__role-job-title{
	font-size: 0.75em;
	margin-left: 1em;
}
.node.node--type-service.node--view-mode-teaser .field--name-field-icon,
.taxonomy_term--view-mode-teaser .field--name-field-icon,
.node.node--type-person.node--view-mode-teaser .field--name-field-portrait{
	flex: 7em 0 0;
	display: block;
	margin-top: -0.6rem;
}
.node.node--type-person.node--view-mode-teaser .field--name-field-portrait{
	flex: 11em 0 0;
	border-radius: 50%;
	border: 7px solid var(--appelboom-red);
	overflow: hidden;
}
.node.node--type-service.node--view-mode-teaser .teaser-text,
.taxonomy_term--view-mode-teaser .teaser-text,
.node.node--type-person.node--view-mode-teaser .teaser-text{
	flex: auto 1 1;
}
.node.node--type-service.node--view-mode-teaser .field--name-field-description,
.taxonomy_term--view-mode-teaser .field--name-field-description,
.node.node--type-person.node--view-mode-teaser .field--name-field-description{
	margin: 0.5em 0;
	font-size: 1.1667em;
	line-height: 1.5;
}
.node--view-mode-teaser ul.links,
.taxonomy_term--view-mode-teaser ul.links{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 0.8em;
	font-size: 1.1667em;
}
.node--view-mode-teaser ul.links a,
.taxonomy_term--view-mode-teaser ul.links a{
	display: flex;
	gap: 0.5rem;
	align-items: center;
	text-transform: lowercase;
}
.node--view-mode-teaser ul.links a:before,
.taxonomy_term--view-mode-teaser ul.links a:before{
	content: " ";
	display: inline-block;
	width: 3rem;
	height: 2rem;
	background: transparent url(../../images/pijl.svg) center no-repeat;
	background-size: contain;
}
.node.node--type-person.node--view-mode-teaser ul.links a.email,
.node.node--type-person.node--view-mode-teaser ul.links a.linkedin{
	width: 1.5em;
	height: 1.5em;
	text-indent: -999em;
	display: block;
	background: transparent url(../../images/mail.svg) center no-repeat;
	background-size: contain;
}
.node.node--type-person.node--view-mode-teaser ul.links a.linkedin{
	background-image: url(../../images/linkedin.svg);
}
.node.node--type-person.node--view-mode-teaser ul.links a[rel="tag"]{
	margin-left: 0.8em;
}


@media all and (max-width: 960px){
	.node.node--view-mode-teaser .field--name-field-featured-image {
		margin: 0 calc(-0.5* var(--gutter));
	}
	.node.node--type-service.node--view-mode-teaser,
	.node.node--type-person.node--view-mode-teaser{
		gap: 1.5em;
	}
	.node.node--type-service.node--view-mode-teaser{
		align-items: flex-start;
	}
	.node.node--type-person.node--view-mode-teaser{
		flex-direction: column;
	}
	.node.node--type-service.node--view-mode-teaser .field--name-field-icon,
	.taxonomy_term--view-mode-teaser .field--name-field-icon,
	.node.node--type-person.node--view-mode-teaser .field--name-field-portrait{
		flex: 5em 0 0;
	}
	.node.node--type-person.node--view-mode-teaser .field--name-field-portrait{
		flex: 12em 0 0;
		width: 12em;
		border-width: 5px;
		margin: 0 0em;	
	}
}



