html{
	color: var(--appelboom-body);
	font-family: jali-latin-variable, sans-serif;
	font-weight: 200;
	font-size: 112.5%;
	-ms-text-size-adjust: 100%;     /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
	line-height: 1.5em;
	background: var(--bg);
}

@media all and (max-width: 1200px){
	html{
		font-weight: 300;
		font-size: 100%
	}
}

@media all and (max-width: 960px){
	html{
		font-size: 87.5%;
	}
}

.layout-container > header,
.layout-container > main,
.layout-container > footer{
	background: var(--bg);
}
.layout-container > main{
	padding-bottom: 5em;
}